In [5]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [22]:
df = pd.read_csv('covid_19_data.csv')

In [23]:
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [24]:
df.drop(['SNo', 'Last Update'], axis=1, inplace=True)
df

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
306424,05/29/2021,Zaporizhia Oblast,Ukraine,102641.0,2335.0,95289.0
306425,05/29/2021,Zeeland,Netherlands,29147.0,245.0,0.0
306426,05/29/2021,Zhejiang,Mainland China,1364.0,1.0,1324.0
306427,05/29/2021,Zhytomyr Oblast,Ukraine,87550.0,1738.0,83790.0
306428,05/29/2021,Zuid-Holland,Netherlands,391559.0,4252.0,0.0

In [28]:
# rename column headers
df.rename(columns={'ObservationDate':'Date', 'Province/State': 'State', 'Country/Region': 'Country'}, inplace=True)

In [29]:
df.head()

         Date      State         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [30]:
# change date format
df['Date'] = pd.to_datetime(df['Date'])

In [31]:
df.head()

        Date      State         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [33]:
df.describe()

,Date,Confirmed,Deaths,Recovered
count,306429,3.064290e+05,306429.000000,3.064290e+05
mean,2020-11-06 01:54:54.146441728,8.567091e+04,2036.403268,5.042029e+04
min,2020-01-22 00:00:00,-3.028440e+05,-178.000000,-8.544050e+05
25%,2020-07-30 00:00:00,1.042000e+03,13.000000,1.100000e+01
50%,2020-11-10 00:00:00,1.037500e+04,192.000000,1.751000e+03
75%,2021-02-18 00:00:00,5.075200e+04,1322.000000,2.027000e+04
max,2021-05-29 00:00:00,5.863138e+06,112385.000000,6.399531e+06
std,NaN,2.775516e+05,6410.938048,2.015124e+05

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       306429 non-null  datetime64[ns]
 1   State      228326 non-null  object
 2   Country    306429 non-null  object
 3   Confirmed  306429 non-null  float64
 4   Deaths     306429 non-null  float64
 5   Recovered  306429 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.0+ MB

In [41]:
df1 = df.groupby('Country')[['Confirmed', 'Deaths']].sum().reset_index()
df1.head()

           Country   Confirmed    Deaths
0       Azerbaijan         1.0       0.0
1  ('St. Martin',)         2.0       0.0
2      Afghanistan  17026442.0  669075.0
3          Albania  19768869.0  375955.0
4          Algeria  27684358.0  834464.0